.master-div {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 20px 20px;
}
.title-and-img {
  display: flex;
}

.account-cart-comitment {
  display: flex;
}

.details {
  padding-right: 10px;
}
.burger {
  cursor: pointer;
}
.logo-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.pc {
}
.toggle-all-cat {
  cursor: pointer;
}
.all-category {
  display: flex;
}
.blur {
  position: fixed;
  width: calc(100%);
  height: calc(100%);
  z-index: 99;
  height: 100vh;
  background: rgba(255, 255, 255, 0.768);
}
.first-cat {
  position: absolute;
  z-index: 1000;

  width: 400px;
  height: 200px;
  background-color: blue;
}
.second-cat {
  position: absolute;
  z-index: 1000;
  margin-left: 400px;
  width: 400px;
  height: 200px;
  background-color: green;
}
@media (max-width: 800px) {
  .master-div {
    justify-content: left;
  }
  .account-cart-comitment {
    margin-left: auto;
  }
  .burger {
    width: fit-content;
  }
  .first-cat {
    width: 100px;
    height: 100%;
  }
  .second-cat {
    height: 100%;
    width: 100%;
    margin-left: 100px;
  }
}
