.master-div {
  display: flex;
  justify-content: space-between;
}
.title-and-img {
  display: flex;
}

.account-cart-comitment {
  display: flex;
  margin-left: auto;
}

.details {
  padding-right: 10px;
}
